<!--The content below is only a placeholder and can be replaced.-->
<div class="container pb-4">
  <div class="row d-flex justify-content-center logo-view">
    <div class="col-8">
      <img class="img-fluid" [src]="logoUrl">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <img [(src)]="roomImgUrl" class="w-100" (load)="onLoaded()"/>
    </div>
    <div class="col-sm-4 plank-view">
      <div class="row">
        <div class="col-5 col-sm-12"><img [src]="plankImgUrl" class="img-fluid w-100"></div>
        <div class="col-7 col-sm-12">
          <h2 class="plank-name pt-3">{{plankName}}</h2>
          <h3 class="plank-name pb-3">Plank Width: {{plankWidth}}"</h3>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
            <label for="file-upload" class="upload-btn w-100 py-2 text-center">
               <i class="fas fa-plus"></i> UPLOAD ROOM PHOTO
            </label>
            <input id="file-upload" type="file" (change)="handleFileInput($event.target.files)"/>
        </div>
      </div>
    </div>
  </div>
  <div
    class="loading-overlay d-flex position-fixed justify-content-center align-items-center"
    *ngIf="loading">
    <img src="../assets/ic-spin.png" class="loader" alt="">
  </div>
</div>
